* {
  background-color: #181818;
  color: white;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.img {
  display: inline-block;
  width: 47rem;
  margin-left: 70px;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.img img {
  width: 1000px;
}
.contact {
  display: inline-block;
  padding: 80px 0px;
}
.formtitle {
  padding: 5rem 5rem 3rem 5rem;
  font-size: 60px;
  color: rgba(224, 141, 141, 0.855);
}
#contact_form {
  margin-left: 5rem;
  width: 600px;
}
#contact_form * {
  padding-top: 20px;
  padding-bottom: 20px;
}
.row label {
  font-size: 26px;
}

input[type="text"],
select,
textarea {
  width: 30pc;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: #ffffffde;
  border-radius: 10px;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 10px #393939;
}
input[type="text"] {
  height: 15px;
}
input[type="submit"] {
  margin-left: 7pc;
  margin-top: 2rem;
  background-color: #d7c208;
  color: black;
  width: 12pc;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 5px 5px 5px #5e5e5e;
  cursor: pointer;
}
#submit_button:hover {
  background-color: #b0a00a;
  transition: all 1s ease;
}
#inquiryType {
  font-size: 18px;
  font-weight: bold;
  size: 18px;
}

@media (max-width: 800px) {
  #contact_form {
    width: 80vw;
  }
  .img {
    display: none;
  }
}

/*.submit {
  position: absolute;
  display: block;
  padding: 17px;
  margin: 15px;
  background-color: rgb(253, 253, 253);
  color: black;
  border-radius: 20px;
  border: 30px;
  width: 10pc;
  font-size: large;
  font-weight: bolder;
}*/

.footer * {
  padding: 0pc 4.4px;
}
