@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

* {
  background-color: #181818;
  color: white;
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}

.logo {
  height: 6pc;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
  display: inline-block;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.Title {
  font-size: 70px;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 20px;
  letter-spacing: 10px;
  line-height: 7pc;
}
.digital-img {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 30px;
}
.digital-img img {
  width: 1400px;
  height: 600px;
}
.blogcontent {
  padding: 20px 0px 20px 20px;
}
.top h1 {
  font-weight: bolder;
}
.blogcontent p {
  font-size: 18px;
  max-width: 70pc;
  line-height: 26px;
}
.blogcontent li {
  margin-bottom: 30px;
  margin-right: 20px;
}
.one * {
  background-color: transparent;
}
.one {
  padding: 10px;
  background-color: rgba(210, 191, 205, 0.662);
  border-radius: 10px;
}

.two * {
  background-color: transparent;
}
.two {
  padding: 10px;
  background-color: rgba(233, 229, 170, 0.748);
  border-radius: 10px;
}

.three * {
  background-color: transparent;
}
.three {
  padding: 10px;
  background-color: rgba(232, 205, 196, 0.627);
  border-radius: 10px;
}

.four * {
  background-color: transparent;
}
.four {
  padding: 10px;
  background-color: rgba(178, 165, 210, 0.514);
  border-radius: 10px;
}

.five * {
  background-color: transparent;
}
.five {
  padding: 10px;
  background-color: rgba(127, 255, 212, 0.149);
  border-radius: 10px;
}
